{% extends "blog/base.html" %}
{% load static %}

{% block title %} Prodaja nekretnina {% endblock %}

{% block content %}
    <h1>Duga nekretnine Bačka Topola</h1>
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h2>
        <p class="date">
            <a href="{{ post.get_absolute_url }}">
                <img style="width: 200px;height: 150px; margin: 15px 15px 15px 15px;" src="{% if post.image1 %}{{ post.image1.url }}{% else %}{% static 'images/no_image.jpg' %}{% endif %}">
            </a></br>
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|truncatewords:15|linebreaks }}
    {% endfor %}

{% endblock %}